<div class="container-fluid col d-flex justify-content-xl-center">
<div class="card col d-block">
<h5 class="card-header info-color white-text text-center py-4">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @category.title %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= @category.location %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @category.price %>
  </p>

  <%= link_to 'Edit', edit_category_path(@category) %> |
  <%= link_to 'Back', categories_path %>
</div>
</div>
</div>